@{
    ViewData["Title"] = "Purrfect";
}


<div class="fondo">
<div class="text-center">
    <h1 class="display-4">Bienvenido a Purrfect</h1>
    
    <div>
        <button type="submit"> <a>
                Formulario </a>
        </button>
    </div>
    
</div>
</div>
