@{
    ViewData["Title"] = "Purrfect";
}

<div class="index-background">

    @if (TempData["mensaje"] != null)
    {
        <div class="success-message">
            @TempData["mensaje"]
        </div>
    }

    <h1 class="welcome-title">Bienvenido a Purrfect</h1>

    <div class="button-container">
        <div>
            <a asp-action="Formulario" asp-controller="Home" class="gradient-button">Formulario</a>
        </div>
        <div>
            <a asp-action="Productos" asp-controller="Home" class="gradient-button">Productos</a>
        </div>
    </div>

</div>