@{
    ViewData["Title"] = "Productos";
}


<div class="form-background">
    
 
    <div class="products-page-container">

        <h1 class="product-page-title">Productos para Mascotas</h1>

        <div class="product-grid">
          
            <div class="product-card">
                <h2>Collares</h2>
                <img src="~/images/collar.jpg" alt="Gato blanco con collar de perlas de colores" class="product-image"/>
            </div>

            <div class="product-card">
                <h2>Juguetes</h2>
                <img src="~/images/juguete.jpg" alt="Gato jugando con torre de pelotas rosa" class="product-image"/>
            </div>

            <div class="product-card">
                <h2>Comedero y Bebedero</h2>
                <img src="~/images/comedero.jpg" alt="Gato bebiendo de una fuente de agua para mascotas" class="product-image"/>
            </div>

            <div class="contact-button-container"></div>
            <a asp-action="InteresadoEnProductos" asp-controller="Home" class="gradient-button">
                ¡Estoy Interesado!
            </a>
            </div>

        </div>

</div>
